In [1]:
import requests
import sys

import csv
import codecs

import pandas as pd

In [37]:
city = 'Campeche'
response = requests.request("GET", f"https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/{city}/1980-01-01/2023-06-23?unitGroup=metric&include=days&key=UCE2KNZHWU8GZZPEM2BM226ZL&contentType=csv")
if response.status_code!=200:
  print('Unexpected Status code: ', response.status_code)
  sys.exit()

In [38]:
# Parse the results as CSV
CSVText = csv.reader(response.text.splitlines(), delimiter=',',quotechar='"')
df = pd.DataFrame(CSVText)
df.rename(columns=df.iloc[0], inplace = True)
df.drop([0], inplace = True)

In [39]:
df.to_csv('../data/camp-19800101-20230623.csv')

In [32]:
df[]

Empty DataFrame
Columns: []
Index: []